body {
    background-image: url(../images/dark-mountains-mac-4k-r3aalym6pvjbkknj.jpg);
    background-repeat: no-repeat;
    background-position-y: 19%;

}

.container {
    background: linear-gradient(135deg, rgba(42, 41, 70, 0.19), rgba(136, 118, 118, 0.185));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1% 2% 2%;
    margin-top: 70px;
}

h3{
    font-size: 22px;
    color: rgb(199, 199, 199);
    font-family: sans-serif;
}

.container div.error{
    margin-bottom: 10px;
    text-align: center;
}

.spanEnd{
    color: rgb(255, 60, 60);
    margin-bottom: 10px;
}